.container{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    font-size: 10vh;
    color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
